{% extends "base.jinja2" %}

{% block title %}
    <title>Digital Image Archive of Medieval Music :: {{ content.name }}</title>
{% endblock %}

{% block body %}
    <div class="columns">
        <div class="column">
            <h2 class="title is-2">{{ content.name }}</h2>
            {% if content.location %}
                <h2 class="subtitle is-3">
                    <a href="{{ content.location.url }}">{{ content.location.name }}</a>
                </h2>
            {% endif %}
        </div>
    </div>
    <div class="columns">
        <div class="column">
            {% if content.source_provenance %}
                <h3 class="title is-4">Provenance Entries</h3>
                <ul>
                    {% for entry in content.source_provenance %}
                        <li><a href="{{ entry.url }}">{{ entry.source }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% if content.related_sources %}
                <h3 class="title is-4">Related Sources</h3>
                <ul>
                    {% for entry in content.related_sources %}
                        <li>
                            {{ "?" if entry.uncertain else "" }}
                            <a href="{{ entry.url }}">
                                {{ entry.source }}
                            </a> ({{ entry.relationship }})
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if content.copied_sources %}
                <h3 class="title is-4">Copied Sources</h3>
                <ul>
                    {% for entry in content.copied_sources %}
                        <li>
                            {{ "?" if entry.uncertain else "" }}
                            <a href="{{ entry.url }}">
                                {{ entry.source }}
                            </a> ({{ entry.type }})
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
    {% if request.user.is_staff %}
        <div class="columns">
            <div class="column">
                <a class="button" href="/admin/diamm_data/organization/{{ content.pk }}">Edit</a>
            </div>
        </div>
    {% endif %}
{% endblock %}
