{% extends "base.jinja2" %}

{% block body %}
    <div class="row">
        <div class="sixteen columns">
            <h1>Organization Detail</h1>
            {% set contributions = contribution_sort(content.name) %}
            {% include 'website/contribution/contribution_display.jinja2' %}
        </div>
    </div>
{% endblock %}
