{% extends "base.jinja2" %}

{% block fullwidth %}
    <div id="search-body">
        <!-- filled by react application -->
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ static('apps/search/dist/bundle.js') }}"></script>
{% endblock %}
