{% extends "base.jinja2" %}

{% block fullwidth %}
    {% include "website/blocks/search_box.jinja2" %}
{% endblock %}

{% block head %}
    <link href="{{ static('stylesheets/nouislider/nouislider.min.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    {% if content.types %}
        <div class="type-filter-bar">
            <div class="type-filter">
                <span class="filter-label">Filter by: </span>
                <ul>
                    <li>
                        {# "All" is a special value. #}
                        {% with type="all", count=content.count, params=request.GET %}
                            {% include 'website/search/results/type_links.jinja2' %}
                        {% endwith %}
                    </li>
                    {% for type, num in content.types.items() %}
                        <li>
                            {% with type=type, count=num, params=request.GET %}
                                {% include 'website/search/results/type_links.jinja2' %}
                            {% endwith %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="thirteen columns search-results">
        {% if content.results %}
            <p class="result-count">Returned {{ content.count }} results.</p>
            {% for result in content.results %}
                {% include 'website/search/results/result.jinja2' %}
            {% endfor %}

            {% include "website/blocks/browse_paginator.jinja2" %}
        {% else %}
            {% if request.GET.q %}
                <p>No results were found.</p>
            {% else %}
                <p>Type your search above.</p>
            {% endif %}
        {% endif %}
        </div>
        <div class="three columns">
            {% if content.geo %}
            {% with geo=content.geo %}
                {% include "website/search/results/geo.jinja2" %}
            {% endwith %}
            {% endif %}

            {% if content.genres %}
            {% with genres=content.genres %}
                {% include "website/search/results/genres.jinja2" %}
            {% endwith %}
            {% endif %}

            {% if content.dates and not (request.GET.start_date or request.GET.end_date) %}
                <h2>Century</h2>
                <div id="slider"></div>
                <a href="#" class="button" id="century_filter"></a>
            {% endif %}
        </div>
    </div>


{% endblock %}

{% block scripts %}
    <script src="{{ static('javascripts/src/nouislider/nouislider.min.js') }}"></script>
    <script type="text/javascript">
    {% if content.dates %}
        var dates = {{ content.dates.results|safe }};
        var url = "{{ content.dates['@url']|safe }}";

        // counts the number of items in the range given
        var count_dates = function(start_date, end_date) {
            var count = 0;
            for (var i = 0, length = dates.length; i < length; i++) {
                if ((start_date < dates[i].end_date) && (end_date > dates[i].start_date))
                    count += dates[i].count;
            };
            return count;
        };

        var century_filter = document.getElementById('century_filter');
        var range = document.getElementById('slider');
        if (range) {
            noUiSlider.create(range, {
                start: [800, 1800],
                step: 100,
                connect: true,
                margin: 20,
                orientation: 'vertical',
                direction: 'rtl',
                range: {
                    'min': 800,
                    'max': 1800
                },
                pips: {
                    mode: 'steps',
                    density: 100
                }
            });

            // Whenever the slider is moved, update the filter count
            range.noUiSlider.on('update', function( values, handle  ) {
                var start_date = Math.round(values[0])
                var end_date = Math.round(values[1]);
                var count = count_dates(start_date, end_date);
                century_filter.innerHTML = "filter (" + count + ")";
                century_filter.href = url + "&start_date=" + start_date + "&end_date=" + end_date;
            });
        };
    {% endif %}

    </script>
{% endblock %}
