
{% if content.contributors %}
    <h2>Contributions</h2>
    <div class="sixteen columns">
        <ul class="contribution-list">
            {% for contribution in content.contributors %}
                <li>{{ contribution.contributor }}: {{ contribution.summary }}. {{ contribution.updated | truncate(10, end='')}}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

{% if user.is_authenticated() %}
    <button id="show-contribution-form">Make a Contribution</button>
{% endif %}

<div id="contribution-form">
    {% include 'website/contribution/make_contribution.jinja2' %}
</div>

<div id="messages">
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                {% if message.tags %}{% endif %}{{ message }}
            {% endfor %}
        </ul>
    {% endif %}
</div>



{% block scripts %}

    <script>
        document.getElementById('show-contribution-form').addEventListener('click', function ()
        {
            document.getElementById('contribution-form').style.display = "block";
            document.getElementById('messages').style.display = "none";
            document.getElementById('show-contribution-form').style.display = "none";
        });
    </script>

{% endblock %}