{% block body %}

{% if contributions %}
    {% include "website/contribution/contributions_made_list.jinja2" %}
{% endif %}

<button id="show-contribution-form">Make a Contribution</button>

<div id="contribution-form">
    {% if user.is_authenticated() %}
        {% include 'website/contribution/make_contribution.jinja2' %}
    {% else %}
        <p>Please log in to submit a contribution</p>
    {% endif %}


</div>

<div id="messages">
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                {% if message.tags %}{% endif %}{{ message }}
            {% endfor %}
        </ul>
    {% endif %}
</div>

{% endblock %}

{% block scripts %}

    <script>
        document.getElementById('show-contribution-form').addEventListener('click', function ()
        {
            document.getElementById('contribution-form').style.display = "block";
            document.getElementById('messages').style.display = "none";
            document.getElementById('show-contribution-form').style.display = "none";
        });
    </script>

{% endblock %}