<h2>Contributions</h2>
<ul>
    {% for contribution in contributions %}
        <li>{{ contribution.record }}: {{ contribution.contributor }}. {{ contribution.summary }}. {{ contribution.updated }}</li>
    {% endfor %}
</ul>
