denv
diamm.iml
__pycache__/*
.DS_Store
*.pyc
diamm/diamm_data/migrations/*
solr/data
diamm/diamm_site/migrations
diamm/static/javascripts/jspm_packages
diamm/static/javascripts/node_modules
diamm/static/javascripts/dist
testing
env
/.idea
