<div class="browse-alphabet">
    <ul>
        {% for char in "ABCDEFGHIJKLMNOPQRSTUVWXYZ" %}
        <li><a href="{{ content.url }}?l={{ char }}">{{ char }}</a></li>
        {% endfor %}
        <li><a href="{{ content.url }}">All</a></li>
    </ul>
</div>
