{% for item in menu_items %}
    <div class="dropdown-menu-section">
        <h4>
            <a href="{{ item.url }}">{{ item.title }}</a>
        </h4>
        {% set children = item.get_children().live().in_menu() %}
        {% if children %}
            {% for child in children %}
                <div>
                    <a href="{{ child.url }}">{{ child.title }}</a>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endfor %}
