<div class="columns">
    <div class="column">
        <nav class="level">
            <div class="level-left"></div>
            <div class="level-right">
                <div class="tabs">
                    <ul>
                        <li>
                            <a href="{{ edit_path }}{{ content.pk }}">Edit</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
