
<section class="hero is-danger">
    <img src="https://beta.diamm.ac.uk/images/1617/1024,600,5000,1600/768,/0/default.jpg" style="width: 100%;">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-third">
                    <img src="{{ static('images/headerLogo.png') }}" style="filter: drop-shadow(1px 1px 1px #000);"/>
                </div>
                <div class="column">
                    <div class="front-search-box">
                        <form action="{{ url('search') }}" method="get">
                            <input class="input" autocomplete="on" placeholder="Search" name="q" {% if content.query %}value="{{ content.query }}"{% endif %} />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="level">
    <div class="level-item has-text-centered">
        <p class="title">{{ content.counts.num_sources | intcomma }}</p>
        <p class="heading">Sources</p>
    </div>
    <div class="level-item has-text-centered">
        <p class="title">{{ content.counts.num_archives | intcomma }}</p>
        <p class="heading">Archives</p>
    </div>
    <div class="level-item has-text-centered">
        <p class="title">{{ content.counts.num_images | intcomma }}</p>
        <p class="heading">Images</p>
    </div>
    <div class="level-item has-text-centered">
        <p class="title">{{ content.counts.num_compositions | intcomma }}</p>
        <p class="heading">Compositions</p>
    </div>
    <div class="level-item has-text-centered">
        <p class="title">{{ content.counts.num_people | intcomma }}</p>
        <p class="heading">People</p>
    </div>
    <div class="level-item has-text-centered">
        <p class="title">{{ content.counts.num_organizations | intcomma }}</p>
        <p class="heading">Organizations</p>
    </div>
</div>
