<header class="site-header">
    <nav role="navigation" class="nav">
        <div class="nav-left">
            <a href="/" class="nav-item is-brand">
                <img src="{{ static('images/headerLogo.png') }}" />
            </a>
            <div class="dropdown-menu-parent">
                <a href="#" class="nav-item">About DIAMM</a>
                <div class="dropdown-menu">
                    {{ get_menu() }}
                </div>
            </div>
            <div>
                <a href="{{ url('search') }}" class="nav-item">Search & Browse</a>
            </div>

        </div>
        <div class="nav-right">
            <a href="#" class="nav-item nav-highlight">Donate</a>
            {% if user.is_authenticated() %}
                    <a href="{{ url('user-account') }}" class="nav-item">Your account</a>
            {% else %}
                <a class="nav-item" href="{{ url('login') }}?next={{ request.get_full_path() }}">Login</a>
            {% endif %}
        </div>
    </nav>
</header>
