<header class="site-header">
    <nav role="navigation" class="navbar">
        <ul class="navbar-list navbar-brand pull-left">
            <li>
                <a href="{{ url('home') }}"><img src="{{ static('images/diammlogo.png') }}" /></a>
            </li>
        </ul>
        <ul class="navbar-list pull-left">
            <li class="navbar-item"><a href="#">About</a></li>
            <li class="navbar-item"><a href="{{ url('search') }}">Search</a></li>
            <li class="navbar-item"><a href="#">Browse</a></li>
        </ul>
        <ul class="navbar-list pull-right">
            <li class="navbar-item navbar-highlight"><a href="#">Donate</a></li>

            {% if user.is_authenticated() %}
                <li class="navbar-item"><a href="#">Your account</a></li>
            {% else %}
                <li class="navbar-item"><a href="{{ url('login') }}">Login</a></li>
            {% endif %}
        </ul>
    </nav>
</header>

{# <nav class="navbar navbar-default diamm-navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ url("home") }}">DIAMM</a>
        </div>
        <ul class="nav navbar-nav">
            <li>
                <a href="#">About</a>
            </li>
            <li>
                <a href="{{ url("search") }}">Search</a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    Browse <span class="fa fa-caret-down"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{{ url("country-list") }}"> Countries</a>
                        <a href="{{ url("city-list") }}"> Cities</a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="donate-button">
                <a href="#">
                    <span class="fa fa-dollar"></span>
                    Donate
                </a>
            </li>
            {% if request.user.is_authenticated() %}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="fa fa-user"></span> Welcome
                    {% if request.user.last_name %}
                        {{ request.user.first_name }} {{ request.user.last_name }}
                    {% else %}
                        {{ request.user.username }}
                    {% endif %}
                    <span class="fa fa-caret-down"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{{ url("user-profile", pk=request.user.id) }}">User Profile</a>
                    </li>
                    <li><a href="#" id="logout-link">Logout</a></li>
                </ul>
            </li>
            {% else %}
            <li>
                <a href="{{ url("login") }}">
                    <span class="fa fa-user"></span> Login
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav> #}
