<header class="site-header">
    <nav class="nav">
        <div class="nav-left">
            <a href="/" class="nav-item is-brand">
                <img src="{{ static('images/headerLogo.png') }}" alt="DIAMM Logo" />
            </a>
            <div class="dropdown-menu-parent">
                <a href="/about" class="nav-item">About DIAMM</a>
                <div class="dropdown-menu right-menu is-3-columns">
                    {{ get_menu() }}
                </div>
            </div>
            <div>
                <a href="{{ url('search') }}" class="nav-item">Search & Browse</a>
            </div>

        </div>
        <div class="nav-right">
            <a href="http://www.oxforduniversitystores.co.uk/product-catalogue/music-faculty-diamm/music-faculty-diamm-publications/donation-help-to-keep-wwwdiammacuk-free" class="nav-item nav-highlight">Donate</a>
            {% if user.is_authenticated() %}
                <div class="dropdown-menu-parent">
                    <a href="{{ url('user-account') }}" class="nav-item">Your account</a>
                    <div class="dropdown-menu left-menu account-menu">
                        <div class="dropdown-menu-section">
                            <h4>Welcome, {{ request.user.full_name }}</h4>
                            <div>
                                <a href="{{ url("user-account") }}">Your profile</a>
                            </div>
                            <div>
                                <a href="{{ url('logout') }}">Log out</a>
                            </div>
                        </div>
                    </div>
                </div>

            {% else %}
                <a class="nav-item" href="{{ url('login') }}?next={{ request.get_full_path() }}">Login or Register</a>
            {% endif %}
        </div>
    </nav>
</header>
