{% for source in sources %}
    <div class="media">
        <div class="media-left">
            {#
            {% if source.cover %}
                <div class="image is-4by3">
                    <img src="#" />
                </div>
            {% else %}
                <div class="">
                    <img src="#" />
                </div>
            {% endif %}
            #}
        </div>
        <div class="media-content">
            <h5 class="title is-5 is-medium is-marginless">
                <a href="{{ url('source-detail', pk=source.id) }}">{{ source.display_name }}</a>
            </h5>
            <div>{% if source.type %}{{ source.type }},{% endif %} {% if source.date_statement %}{{ source.date_statement }}{% endif %}</div>
        </div>

    </div>
{% endfor %}
