<div class="search-box">
    <div class="container">
        <div class="row">
            <div class="fourteen columns offset-by-two">
                <form action="{{ url('search') }}" method="get">
                    <input type="search" class="u-full-width" placeholder="Search" name="q" {% if content.query %}value="{{ content.query }}"{% endif %} />
                </form>
            </div>
        </div>
    </div>
</div>
