<div>
    <ul>
        <li>
            <strong>Images: </strong> {{ num_images | intcomma }}
            {% if images_added_past_month > 0 %}
                ({{ images_added_past_month | intcomma }} new)
            {% endif %}
        </li>
        <li>
            <strong>Manuscript records: </strong> {{ num_sources | intcomma }}
            {% if sources_updated_past_month > 0 %}
                ({{ sources_updated_past_month | intcomma }} recently updated)
            {% endif %}
        </li>
        <li>
            <strong>Person records:</strong> {{ num_people | intcomma }}
        </li>
        <li>
            <strong>Place records:</strong> {{ num_places | intcomma }}
        </li>
        <li>
            <strong>Organization records:</strong> {{ num_organizations | intcomma }}
        </li>
        <li>
            <strong>Archive records:</strong> {{ num_archives | intcomma }}
        </li>

    </ul>
</div>