{% extends 'base.jinja2' %}

{% block body %}
    <div class="header">
        <h3 class="text-muted">{{ flatpage.title | markdown | safe }}</h3>
    </div>
    <div class="row">
        {{ flatpage.content | markdown | safe }}
    </div>
    <p><a href="/">Home</a></p>
{%  endblock %}

