$diamm-red: rgb(221, 28, 26);
$diamm-black: rgb(1, 22, 39);
$diamm-grey: rgb(42, 44, 43);
$diamm-light-grey: lighten($diamm-grey, 70%);
$diamm-med-grey: lighten($diamm-grey, 50%);
$diamm-white: rgb(253, 255, 252);
$diamm-dk-blue: rgb(35, 100, 170);
$diamm-lt-blue: rgb(19, 149, 219);
