$diamm-black: rgb(50, 50, 50);
$diamm-white: rgb(251, 247, 228);
$diamm-dblue: rgb(44, 62, 80);
$diamm-red: rgb(231, 76, 60);
$diamm-cream: rgb(236, 240, 241);
$diamm-lblue: rgb(52, 152, 219);
$diamm-mblue: rgb(41, 128, 185);
