@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic);

$serif: "PT Serif", serif;
$sans-serif: "PT Sans", sans-serif;
$menu-font: $sans-serif;
