.footer {
  margin-top: 2rem;
  background-color: $diamm-grey;
  margin-bottom: 0;
}

.footer-address {
  color: #fff;
  text-align: left;
  .title {
    color: #fff;
  }
  img {
    width: 100px;
    height: auto;
  }
}