.front-search-box {
  margin-top: 2.5rem;

  input {
    height: 3rem;
    font-size: 1.4rem;
  }

}

.search-overlay {
  //border: 1px solid #f00;
  position: absolute;
  top: 100px;
  left: 15%;
  z-index: 20;
  width: 80%;
  height: 196px;
  filter: drop-shadow(1px 1px 1px $diamm-black);

  .diamm-logo {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 196px;
    z-index: 20;
    //border: 1px solid #0f0;
  }

  .front-search {
    z-index: 21;
    position: relative;
    display: inline-block;
    //border: 1px solid #00f;
    width: 60%;
    @media screen and (min-width: 1200px) {
      bottom: 80%;
      left: 30%;
      margin-left: 2rem;
    }

    @media screen and (max-width: 1199px) {
      bottom: 30%;
    }

    input {
      width: 100%;
      height: 2.5rem;
      font-size: 1.4rem;
    }
  }


}

#slider {
  a {
    &:hover {
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: cover;
    }
  }
}

.diamm-description {
  font-size: 1.2rem;
}
