$position-adjust: -1rem;

.front-content {
  margin-top: $position-adjust;
}

.front-hero {
  position: relative;

  img {
    border-bottom: 3px solid $diamm-red;
  }
  .search {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    top: 200px;
    height: 4rem;
    .strapline {
      @include rounded();
      background: rgba($diamm-black, 0.7);
      text-align: center;
      margin: 0 auto;
      width: 40%;
      height: 60px;
      line-height: 60px;
      vertical-align: middle;
      color: $diamm-white;
    }
    .search-box {
      background: none;
      //form {
      //  margin-top: 1.5em;
      //}
    }
  }
}
