.login-block {
  width: 100%;

  h2 {
    text-align: center;
  }
}

form.create-form {
  display: none;
}

form.login, form.create-form, form.reset {
  input {
    width: 100%;
  }

  #password {
    display: none;
  }
}
