.site-header {
  width: 100%;
  z-index: 100;
}

.navbar {
  box-shadow: 0 0 4px 0 $diamm-black;
  border-top: 5px solid $diamm-red;
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
  li {
    margin-bottom: 0;
  }
  .navbar-brand {
    z-index: 10;
    padding-right: 1rem;
    height: 40px;
    overflow: visible;
    li {
      margin-right: 1em;
      a {
        margin: 0;
        padding: 0;
        padding-left: 0.5rem;
        &:hover, &:focus {
          background: none;
          color: unset;
        }
      }
    }
  }

  .navbar-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
    a {
      color: $diamm-black;
      text-decoration: none;
      padding: 0.6rem 1rem;
      font-size: 1.2rem;
      font-family: $menu-font;
      font-weight: bold;
      -webkit-font-smoothing: antialiased;
      display: flex;
      align-items: flex-start;
      &:hover, &:focus {
        border-bottom: none;
        background: $diamm-red;
        color: $diamm-white;
      }
    }

    .column {
      display: none;
      position: absolute;
      list-style-type: none;
      background-color: $diamm-white;
      float: left;
      margin-top: 0rem;
      margin-left: 0rem;
      width: 25rem;
      padding: 0rem;

    }

    .column div {
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3;
    }
    .column a {
      display: block;
      margin-top: 0rem;
      margin-left: 0.2rem;
      padding-left: 0rem;
      font-size: 0.7rem;
    }
    .column ul {
      margin-left: 0.2rem;
    }

    .column li {
      margin-right: 0rem;
    }

    .dropdown-content-more {
      list-style-type: square;
      margin-top: 0rem;
      margin-left: 0.2rem;
    }

    .dropdown-content-more a {
      color: black;
      padding: 0.2rem 0.3rem;
      font-size: 0.5rem;
      text-decoration: none;
      display: block;
    }

    .navbar-item:hover .column {
      display: block;
    }

    .navbar-highlight {
      background: $diamm-red;
      a {
        color: #fff;
        &:hover, &:focus {
          background: $diamm-black;
        }
      }
    }
  }

}
