.search-box {
  background: $diamm-light-grey;
  margin-top: -1em;

  form {
    margin-top: 1em;
    margin-bottom: 1em;

    input {
      margin-bottom: 0;
    }
  }
}

.type-filter {
  font-family: $small-caps;
  text-transform: lowercase;
  padding: 0.5rem;
  border-bottom: 1px solid $diamm-light-grey;
  span {
    font-weight: 500;
    float: left;
  }
  ul {
    margin-bottom: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    li {
      margin-bottom: 0;
    }
    a {
      &:hover, &:focus {
        border-bottom: none;
        font-weight: 500;
      }
      display: flex;
      align-items: flex-start;
      padding: 0 0.3rem;
    }
  }
}

.search-results {
  .result-count {
    font-family: $sans-serif;
    color: $diamm-med-grey;
  }
  .search-result {
    .diamm-icon {
      font-size: 75%;
      color: $diamm-med-grey;
      position: relative;
      top: -2px;
    }
  }
}
