$search-font-size: 1.5rem;
$search-input-adjust: $search-font-size + 1rem;

.search-box {
  background: $diamm-light-grey;
  form {
    margin-top: 1em;
    margin-bottom: 1em;

    input {
      height: 50px;
      font-size: 110%;
      font-weight: 600;
      margin-bottom: 0;
    }
  }
}

.type-filter {
  font-family: $sans-serif;
  font-size: 90%;
  padding: 0.5rem;
  margin-top: -1rem;
  border-bottom: 1px solid $diamm-light-grey;
  span {
    font-weight: 500;
    float: left;
  }
  ul {
    margin-bottom: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    li {
      margin-bottom: 0;
    }
    a {
      &:hover, &:focus {
        border-bottom: none;
        font-weight: 500;
      }
      display: flex;
      align-items: flex-start;
      padding: 0 0.3rem;
    }
  }
}

.search-result-brief {
  font-size: 90%;
  .result-type {
    font-weight: bold;
  }
}

.search-results {
  .result-count {
    font-family: $sans-serif;
    font-size: 90%;
    color: $diamm-black;
  }
  .search-result {
    h4 {
      margin-bottom: 0.1rem;
    }
  }
}
