$search-font-size: 1.5rem;
$search-input-adjust: $search-font-size + 1rem;

.search-box {
  background: $diamm-light-grey;
  text-align: center;
  padding: 16px;
  input {
    height: 50px;
    font-size: 110%;
    font-weight: 600;
    margin-bottom: 0;
    width: 40%;
  }
}

.type-filter {
  text-align: center;
  border-bottom: 1px solid $diamm-light-grey;
  ul {
    margin-bottom: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    li {
      margin-bottom: 0;
    }
    a {
      &:hover, &:focus {
        border-bottom: none;
        font-weight: 500;
      }
      display: flex;
      align-items: flex-start;
      padding: 0 0.3rem;
    }
  }
}

.search-results {
  .search-result {
    width: 100%;
    h3 {
      font-weight: 400;
      font-size: 1.4rem;
    }
    .result-type {
      color: $diamm-med-grey;
    }
  }
}
