.source-header {
  margin-bottom: 1em;
  p {
    margin: 0;
    padding: 0;
  }
  h1, h2 {
    margin: 0;
    padding: 0;
  }

  h2 {
    font-weight: 400;
    font-size: 1.3em;
  }

}

.source-tabs {
  margin-bottom: 1rem;
  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    li {
      font-weight: bold;
      margin: 0 1em 0 0;
      padding: 0;
    }
  }
}

.source-description, .source-bibliography, .source-inventory, .composer-inventory {
  h3, h4 {
    font-weight: bold;
    font-size: 1em;
    letter-spacing: normal;
    margin-top: 0;

  }
}

.source-inventory {
  border-right: 1px solid $diamm-light-grey;
}

.source-inventory, .composer-inventory {
  .inventory-header {
    font-size: 1.125em;
    font-weight: 600;
  }
  p {
    padding-top: 0;
  }
  dd {
    margin-bottom: 1.3em;
    table {
      margin-bottom: 0;
    }
    th {
      line-break: strict;
      vertical-align: top;
      white-space: nowrap;
    }
    th, td {
      border-bottom: none;
    }
  }
}

.source-description {
  .source-details {
    width: 100%;
    margin-bottom: 1rem;
    th, td {
      border-bottom: 1px solid $diamm-light-grey;
      padding: 8px;
    }
    th {
      border-right: 1px solid $diamm-light-grey;
    }
    th {
      vertical-align: top;
      padding-right: 10px;
      width: 20%;
    }
    ul, li {
      margin: 0;
    }
  }

  dl {
    overflow: auto;
    margin-bottom: 0;
    margin-top: 0;
    dt {
      text-transform: lowercase;
      float: left;
      font-weight: bold;
      clear: left;
      margin-right: 2%;
      width: 25%;
    }

    dd {
      margin-left: 0;

      ul {
        margin-bottom: 0;
      }
    }
  }
}

.source-bibliography {
  p {
    margin-bottom: 0.5em;
    padding-left: 22px;
    text-indent: -22px;
  }
}

.no-style {
  list-style: none;
}

.diva-tools form {
  margin-bottom: 0;
}

#image-item-listing {
  max-height: 770px;
  overflow: scroll;
  overflow: auto;
  p {
    margin-bottom: 0;
  }
  ul {
      margin-left: 1em;
      list-style-type: none;
  }
  li {
    margin: 0 0;
  }
#archive-logo {
  max-width: 400px;
}
