@import "variables";
@import "fonts";
@import "colours";
@import "navbar";
@import "bootstrap";
@import "font-awesome";
@import "header";
@import "footer";

.search-box {
  padding: 1em 0;
  background: $diamm-cream;
  margin-bottom: 0;
}

.search-result {
  em {
    background-color: lighten($diamm-red, 30%);
    font-style: normal;
    font-weight: bold;
  }

  h3.search-result-heading {
    padding: 0 0 10px 0;
    margin: 0;
    font-size: 1.1em;
    font-weight: bold;
  }
}

.type-filter-bar {
  border-top: 1px solid darken($diamm-cream, 10%);
  border-bottom: 1px solid darken($diamm-cream, 10%);
  margin-bottom: 10px;

  .type-filter {
    .filter-label {
      float: left;
      padding: 10px 15px;
    }
  }
}
