@import "fonts";
@import "colors";
@import "mixins";
@import "font-awesome/font-awesome";
@import "bulma";
//@import "skeleton/skeleton";

@import "variables";
@import "list";
@import "navbar";
@import "footer";
@import "edit";
@import "front";
@import "archive";
@import "source";
@import "search";
@import "bibliography";
@import "login";
@import "cms";
@import "../vendor/ideal-image-slider/ideal-image-slider.css";


html {
  height: 100%;
  background-color: $diamm-white;
}

// Font calculations based on: http://type-scale.com/?size=18&scale=1.414&text=A%20Visual%20Type%20Scale&webfont=Libre+Baskerville&font-family=Alegreya%20Sans&font-weight=400&font-family-headers=&font-weight-headers=inherit&background-color=white&font-color=%23333

body {
  font-family: $sans-serif;
  color: $diamm-black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
}

.page-body {
  margin-top: 1rem !important;
  flex: 1;
}

p {
  margin: 0.8rem 0;
}

.tabs li.is-active a {
  color: $diamm-red;
  border-bottom-color: $diamm-red;
}
.tabs.is-boxed li.is-active {
  box-shadow: 0 2px 10px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}

a {
  color: $diamm-dk-blue;
  text-decoration: none;
  &:hover {
    color: $diamm-lt-blue;
  }
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  color: $diamm-red;

  .spinner-message {
    justify-content: center;
    text-align: center;
    color: $diamm-red;
  }
}

.loading-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.no-image {
  background-color: $diamm-light-grey;
  border: 1px solid $diamm-grey;
  width: 100px;
  height: 140px;
  margin: 0 auto;
}

.is-bold {
  font-weight: $weight-bold !important;
}

.is-not-bold {
  font-weight: $weight-normal !important;
}
