
{% set pages = aboutpages_list() %}

 <ul class="dropdown-content">

     <div>
         {% for id in pages %}
            {%  for page in pages[id] %}
                {% if page.id == page.about_section_id %}
                    <li><em><a href="{{ page.url }}">{{ page.title }}</a></em></li>
                    {% else %}
                    <li><a href="{{ page.url }}"> {{ page.title}}</a></li>
                {% endif %}
            {% endfor %}
        {% endfor %}
     </div>

</ul>

