{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}

{% block object-tools-items %}
    {% if original %}
        <li><a href="{% url 'admin:source-pages' original.pk %}">Edit Pages</a></li>
        <li><a href="{% url 'admin:source-inventory' original.pk %}">Edit Inventory</a></li>
        <li><a href="{% url 'admin:copy-inventory' original.pk %}">Copy Inventory</a></li>
        <li><a href="{% url 'admin:import-images' original.pk %}">Import Images</a></li>
    {% endif %}
    {{ block.super }}
{% endblock %}
