{% extends "admin/base_site.html" %}
{% load i18n admin_urls static %}

{% block extrahead %}
    <script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
    {{ form.media }}
{% endblock %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <input type="hidden" name="action" value="copy_inventory_form">
        <input type="hidden" name="do_action" value="yes">
        <h2>Copy Inventory</h2>
        <h3>
            Source: {{ instance.display_name }}
        </h3>
        <fieldset class="module aligned">
            <div class="form-row">
                {{ form.targets }}
            </div>
        </fieldset>
        <div class="submit-row">
            <input type="submit" class="default" value="Copy">
        </div>
    </form>
{% endblock %}