{% extends "base.jinja2" %}

{% block title %}
    <title>Digital Image Archive of Medieval Music :: {{ content.name }}</title>
{% endblock %}

{% block body %}
    <div class="columns">
        <div class="column is-two-thirds">
            <h2 class="title is-3">{{ content.name }} ({{ content.siglum }})</h2>
            <h3 class="subtitle is-4"><a href="{{ content.city.url }}">{{ content.city.name }}</a>, {{ content.city.country }}</h3>
        </div>
        <div class="column">
            {% if content.logo %}
            <img src="{{ content.logo }}" style="max-height: 150px;" class="is-pulled-right" />
            {% endif %}
        </div>
    </div>
    {% if content.identifiers %}
    <div class="columns">
        <div class="column content">
            <h5 class="is-5">External identifiers</h5>
            <ul>
                {% for identifier in content.identifiers %}
                <li><a href="{{ identifier.url }}">{{ identifier.label }} ({{ identifier.identifier }})</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
    {% if content.notes %}
        {% for note in content.notes %}
            <h4 class="title is-5">{{ note.note_type }}</h4>
            <p>{{ note.note }}</p>
        {% endfor %}
    {% endif %}
    {% if content.website %}
    <div class="columns">
        <div class="column content">
            <p>
                <strong>Archive website: </strong>
                {% if content.website.startswith('http') %}
                    <a href="{{ content.website }}">{{ content.name }}</a>
                {% else %}
                    <a href="http://{{ content.website }}">{{ content.name }}</a>
                {% endif %}
            </p>
        </div>
    </div>
    {% endif %}
    {% if content.sources %}
    <div class="columns">
        <div class="column">
            <h3 class="title is-4">Sources in this Archive</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>Source name</th>
                        <th>Date</th>
                        <th>Type</th>
                        <th>Surface</th>
                    </tr>
                </thead>
                <tbody>
                {% for source in content.sources %}
                    <tr>
                        <td>
                            {% if source.public_images or source.has_external_manifest %}
                            <i class="fa fa-picture-o" />
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ source.url }}">{{ source.display_name }}</a>
                        </td>
                        <td>
                            {{ source.date_statement if source.date_statement else "-" }}
                        </td>
                        <td>
                            {{ source.source_type if source.source_type else "-" }}
                        </td>
                        <td>
                            {{ source.surface if source.surface else "-" }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}
    {% if request.user.is_staff %}
        {% with edit_path="/admin/diamm_data/archive/" %}
            {% include "website/blocks/edit_bar.jinja2"  %}
        {% endwith %}
    {% endif %}
{% endblock %}
