{% extends "base.jinja2" %}

{% block body %}
    <div>
        <h1>Archives</h1>
        {% for archive in content.results %}
        <div class="search-result">
            <h4><a href="{{ archive.url }}">{{ archive.name }}</a></h4>
            <a href="{{ archive.city.url }}">{{ archive.city.name }}</a>, {{ archive.city.country }}
        </div>
        {% endfor %}
        {% include "website/blocks/browse_paginator.jinja2" %}
    </div>
{% endblock %}
