{% extends "base.jinja2" %}

{% block body %}
    <div class="col-md-12">
        <h1>Archives</h1>
        {% for archive in content.results %}
        <div class="search-result">
            <h4><a href="{{ archive.url }}">{{ archive.name }}</a></h4>
            {{ archive.city.name }}
        </div>
        {% endfor %}
        {% include "website/blocks/browse_paginator.jinja2" %}
    </div>
{% endblock %}
