{% extends "base.jinja2" %}
{% import "website/blocks/form_field.jinja2" as form_field %}

{% block body %}
    <div class="columns">
        <div class="column is-half is-offset-one-quarter">
            <h2 class="title">Change your details</h2>
            <p>Note: Changing your e-mail address will also change your log-in username.</p>

            <form action="{{ url('user-account-edit') }}" method="post">
                {% csrf_token %}
                {{ form_field.format(form.email, 'text') }}
                {{ form_field.format(form.first_name, 'text') }}
                {{ form_field.format(form.last_name, 'text') }}
                {{ form_field.format(form.affiliation, 'text') }}
                <button type="submit" class="button is-primary">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}
