{% extends "base.jinja2" %}

{% block body %}
    <div class="columns">
        <div class="column">
            <h2 class="title is-2">Hello {{ content.full_name }}</h2>
            {% if content.affiliation %}
            <h3 class="subtitle">{{ content.affiliation }}</h3>
            {% endif %}
            <div class="powers">
                {% if content.superuser %}
                    <span class="tag is-medium is-info">
                        superuser&nbsp;
                        <i class="fa fa-superpowers">
                        </i>
                    </span>
                {% endif %}
                {% if content.staff %}
                    <span class="tag is-medium is-info">
                        staff&nbsp;
                        <i class="fa fa-id-badge">
                        </i>
                    </span>

                {% endif %}
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="column is-one-quarter">
            <p>
                <a href="{{ url('logout') }}">Log out</a>
            </p>
            <p>
                <a href="{{ url('password-change') }}">Change Password</a>
            </p>
            <p>
                <a href="{{ url('user-account-edit') }}">Edit Account Details</a>
            </p>
        </div>
        <div class="column">
            <h3 class="title">Recent Comments</h3>
            {% if not content.comments %}
                <p>No comments to display.</p>
            {% else %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>Commented on</th>
                            <th>Visibility</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for comment in content.comments %}
                            <tr>
                                <td><a href="{{ comment.attachment_url }}">{{ comment.attachment }} ({{ comment.attachment_type }})</a></td>
                                <td>{{ comment.type_of_comment }}</td>
                                <td>{{ comment.created | naturaltime }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <h3 class="title">Contributions</h3>
        </div>
    </div>
{% endblock %}
