{% extends "base.jinja2" %}

{% block title %}
    <title>Digital Image Archive of Medieval Music :: {{ content.full_name }}</title>
{% endblock %}

{% block body %}
    <div class="columns">
        <div class="column">
            <h2 class="title is-3">{{ content.full_name }}</h2>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <table class="source-details">
                <tbody>
                {% if content.identifiers %}
                <tr>
                    <th>External identifiers</th>
                    <td>
                        <ul>
                        {% for identifier in content.identifiers %}
                            <li><a href="{{ identifier.url }}">{{ identifier.label }} ({{ identifier.identifier }})</a></li>
                        {% endfor %}
                        </ul>
                    </td>
                </tr>
                {% endif %}
                {% if content.variant_names %}
                <tr>
                    <th>Variant names</th>
                    <td>
                        {{ content.variant_names|join(", ") }}
                    </td>
                </tr>
                {% endif %}
                {% if content.roles %}
                <tr>
                    <th>Roles</th>
                    <td>
                        <ul>
                            {% for role in content.roles %}
                            <li>
                                {{ role.role }}
                            </li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                {% endif %}
                {% if content.compositions %}
                <tr>
                    <th>Compositions</th>
                    <td>
                        <table class="table is-striped is-bordered">
                            <thead>
                                <tr>
                                    <th>Composition</th>
                                    <th>Appears in</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for composition in content.compositions %}
                                <tr>
                                    <td>
                                        <a href="{{ composition.url }}">
                                            {{ "? " if composition.uncertain else "" }}{{ composition.title }}
                                        </a>
                                    </td>
                                    <td>
                                        {% if composition.sources %}
                                            {% for source in composition.sources %}
                                                <div>
                                                    <a href="{{ source.url }}">{{ source.name }}</a>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </td>
                </tr>
                {% endif %}
                {% if content.copied_sources %}
                <tr>
                    <th>Sources copied</th>
                    <td>
                        <table class="table is-bordered is-striped">
                            <thead>
                                <tr>
                                    <th>Source</th>
                                    <th>Copyist Type</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for source in content.copied_sources %}
                                <tr>
                                    <td>
                                        {% if source.has_images and source.public_images %}
                                            <i class="fa fa-file-image-o" aria-hidden="true"></i>
                                        {% endif %}
                                        {{ "? " if source.uncertain else "" }}<a href="{{ source.url }}">{{ source.source }}</a>
                                    </td>
                                    <td>
                                        {{ source.copyist_type }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </td>
                </tr>
                {% endif %}
                {% if content.related_sources %}
                <tr>
                    <th>Source relationships</th>
                    <td>
                        <table class="table is-bordered is-striped">
                            <thead>
                            <tr>
                                <th>Source</th>
                                <th>Relationship</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for source in content.related_sources %}
                                <tr>
                                    <td>
                                        {% if source.has_images and source.public_images %}
                                            <i class="fa fa-file-image-o" aria-hidden="true"></i>
                                        {% endif %}
                                        {{ "? " if source.uncertain else "" }}<a href="{{ source.url }}">{{ source.source }}</a>
                                    </td>
                                    <td>
                                        {{ source.relationship }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </td>
                </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    {% if request.user.is_staff %}
        {% with edit_path="/admin/diamm_data/person/" %}
            {% include "website/blocks/edit_bar.jinja2" %}
        {% endwith %}
    {% endif %}
{% endblock %}
