{%- macro person_entry(people, role) %}
    {%- for person in people -%}
        {%- if loop.index == 1 -%}
            {# first or only person -#}
            <a href="{{ url('author-detail', pk=person["id"]) }}">{{ person["last_name"] }}{% if person["first_name"] %}, {{ person["first_name"].rstrip(".") }}{% endif %}</a>{% if loop.length > 1 %}, {% endif %}
        {%- elif loop.length > 1 and loop.last -%}
            {# final person -#}
 and <a href="{{ url('author-detail', pk=person["id"]) }}">{{ person["first_name"] }} {{ person["last_name"] }}</a>
        {%- else -%}
            {# all others -#}
            <a href="{{ url('author-detail', pk=person["id"]) }}">{{ person["first_name"] | default("") }} {{ person["last_name"] }}</a>{% if loop.length > 1 %}, {% endif %}
        {%- endif %}
    {%- endfor %}
    {% if role == 'editors' and people | length > 1 -%}
 &nbsp;(editors)
    {%- elif role == 'editors' -%}
 &nbsp;(editor)
    {%- elif role == 'compilers' and people | length > 1 -%}
 &nbsp;(compilers)
    {%- elif role == 'compilers' -%}
 &nbsp;(compiler)
    {%- endif %}
{% endmacro -%}

{%- macro editors_entry(people) %}
    {% for person in people -%}
        {% if loop.length > 1 and loop.last -%}
 &nbsp;and <a href="{{ url('author-detail', pk=person["id"]) }}">{{ person["first_name"] }} {{ person["last_name"] }}</a>
        {%- else -%}
 <a href="{{ url('author-detail', pk=person["id"]) }}">{{ person["first_name"] }} {{ person["last_name"] }}</a>{% if loop.length > 2 -%}, {% endif %}
        {%- endif %}
    {%- endfor %}
{% endmacro -%}

{%- macro authors(authors) %}
    {# main entry -#}
    {% set authors = content["authors"] -%}
    {% set editors = content["editors"] -%}
    {% set compilers = content["compilers"] %}
    {% if authors -%}
        {{ person_entry(authors, 'authors') }}.
    {%- elif editors -%}
        {{ person_entry(editors, 'editors') }}.
    {%- elif compilers -%}
        {{ person_entry(compilers, 'compilers') }}.
    {%- else -%}
        [No Author]
    {% endif -%}
{% endmacro -%}

{%- macro year(year) -%}
{{ year | default('n.d') }}.
{%- endmacro -%}

{%- macro punctuate(title) -%}
    {% if title.endswith(('.', '?', '!')) -%}
{{ title }}
    {%- else -%}
{{ title }}.
    {%- endif %}
{%- endmacro -%}

{%- macro first_title(content) %}
    {# journal, book, or festschrift -#}
    {%- if content["type"] in (5, 6, 2, 9) -%}
    <em>{{ punctuate(content["title"]) }}</em>
    {%- elif content["type"] in (5,) and content["parent_titles"] -%}
    {# chapter in a festschrift #}
    {{ punctuate(content["title"]) }}
    {%- else -%}
    {# journal article, book chapter, dissertation, conference -#}
    {{ punctuate(content["title"]) }}
    {%- endif -%}
{% endmacro -%}

{%- macro other_titles(content) %}
    {# journal, book chapter, chapter in festschrift #}
    {%- if content["type"] in (1, 3, 5) %}
    {# 2 = parent title #}
        {% set oth_title = content["parent_titles"]|first %}
        {% if oth_title -%}<em>{{ oth_title["entry"] }},</em>{%- endif %}
    {% endif -%}
{% endmacro -%}

{%- macro editors(content) %}
    {% set authors = content["authors"] -%}
    {% set editors = content["editors"] -%}
    {% if authors | length > 0 and editors -%}
        {# here we assume that if we have authors, we can put the editors later.
        If we don't have authors, then the editors will have already been listed.
        Mark editor parameter as false so it doesn't spit out 'eds.' at the end. -#}
        {% set editors = content["authors"] -%}
        edited by {{ editors_entry(editors) }}
    {%- endif %}
{% endmacro -%}

{%- macro pages(content) %}
    {% set thispg = content["pages"]|first -%}
    {% if thispg -%}{{ thispg["entry"] }}{% endif -%}
{% endmacro -%}

{%- macro series(content)  %}
    {% set ser = content["series"]|first -%}
    {% if ser -%}{{ ser["entry"] }}{%- endif %}
{% endmacro -%}

{%- macro publisher(content) %}
    {% set place_publication = content["place_publication"]|first -%}
    {% set publisher = content["publishers"]|first -%}
    {% if place_publication and publisher -%}
        {{ place_publication["entry"] }}: {{ publisher["entry"] }}
    {%- elif place_publication -%}
        {{ place_publication["entry"] }}
    {%- elif publisher -%}
        {{ publisher["entry"] }}
    {%- endif %}
{% endmacro -%}

{%- macro volumes(content)  %}
    {% set no_volumes = content["num_volumes"]|first -%}
    {% if no_volumes -%}{{ no_volumes["entry"] }} vols.{%- endif %}
{% endmacro -%}

{%- macro degree(content)  %}
    {% set deg = content["university"]|first -%}
    {% set uni = content["degree"]|first -%}
    {% if deg and uni -%}
        {{ deg["entry"] }}, {{ uni["entry"] }}
    {%- elif deg -%}
        {{ deg["entry"] }}
    {%- elif uni -%}
        {{ uni["entry"] }}
    {%- endif %}
{% endmacro -%}

{%- macro conference(content) -%}
    {% set conf_name = content["conference_name"]|first -%}
    {% set conf_loc = content["conference_location"]|first -%}
    {% set conf_date = content["conference_date"]|first -%}
    {%- if conf_name and conf_loc and conf_date -%}
        Paper delivered at {{ conf_name["entry"] }}, {{ conf_loc["entry"] }}. {{ conf_date["entry"] }}
    {%- elif conf_name and conf_loc -%}
        Paper delivered at {{ conf_name["entry"] }}, {{ conf_loc["entry"] }}
    {%- elif conf_name -%}
        Paper delivered at {{ conf_name["entry"] }}
    {%- endif -%}
{%- endmacro -%}

{%- macro publication_info(content) %}
    {% if content["type"] == 1 -%}
        {# journal #}
        {% set volume_no = content["volume_nos"]|first -%}
        {% set pg = pages(content) -%}
        {% if volume_no -%}{{ volume_no["entry"] }}:&nbsp;{% endif -%}{{ pg }}{{ "." if not pg.endswith(".") else "" }}
    {% elif content["type"] in (2, 3, 5, 6, 9) -%}
        {# book #}
        {% set pg = pages(content) -%}
        {% set eds = editors(content) -%}
        {% set pub = publisher(content) -%}
        {% set vols = volumes(content) -%}
        {% set ser = series(content) -%}

        {% if ser -%}{{ ser }}{{ "." if not ser.endswith(".") else "" }}&nbsp;{%- endif  %}
        {% if eds -%}{{ eds }},&nbsp;{%- endif %}
        {% if vols -%}{{ vols }}{%- endif %}
        {% if pg -%}{{ pg }}{{ "." if not pg.endswith(".") else "" }}{%- endif %}
        {% if pub -%}&nbsp;{{ pub }}{{ "." if not pub.endswith(".") else "" }}{%- endif %}
    {% elif content["type"] == 4 -%}
        {# dissertation #}
        {% set deg = degree(content) -%}
        {% if deg -%}{{ deg }}{{ "." if not deg.endswith(".") else "" }}{%- endif %}
    {%- elif content["type"] == 7 -%}
        {# conference #}
        {% set cnf = conference(content) %}
        {%- if cnf -%}{{ cnf }}{{ "." if not cnf.endswith(".") else "" }}{%- endif -%}
    {%- endif -%}
{% endmacro -%}

{%- macro bibliography_url(content) -%}
    {% set uu = content["url"]|first -%}
    {% set ua = content["url_accessed"]|first -%}
    {% if content["url"] %}
    <a href="{{ uu['entry'] }}">{{ uu["entry"] }}</a> {% if ua %}(Accessed: {{ ua["entry"] }}){% endif %}.
    {% endif %}
{%- endmacro -%}

{{ authors(content) }} {{ year(content["year"]) }} {{ first_title(content) }} {{ other_titles(content) }} {{ publication_info(content) }} {{ bibliography_url(content) }}
