{% extends "admin/base_site.html" %}

{% block content %}
    <form action="" method="POST">
        {% csrf_token %}
        <input type="hidden" name="action" value="assign_genre_action">
        <input type="hidden" name="do_action" value="yes">

        <!-- CRUCIAL: preserve the selected IDs -->
        {% for obj in objects %}
            <input type="hidden" name="{{ action_checkbox_name }}" value="{{ obj.pk }}">
        {% endfor %}

        <div>
            {{ form.genre }}
            <input type="submit" class="default" style="float: none" value="Change">
            {{ form.genre.errors }}
        </div>
        <h2>Changing the genre for the following entries</h2>
        <ul>
            {% for object in objects %}
                <li>
                    <a href="{{ object.pk }}/">{{ object.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </form>
{% endblock %}
