{% extends "base.jinja2" %}
{% from "website/macros.jinja2" import voices, foliation, composers %}

{% block head %}
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
{% endblock %}

{% block title %}
    <title>Digital Image Archive of Medieval Music :: {{ content.title }}</title>
{% endblock %}

{% block body %}
    <div class="columns">
        <div class="column">
            <h2 class="title is-3">{{ content.title }}</h2>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <table class="source-details">
                <tbody>
                    <tr>
                        <th>Composer{% if content.composers | length > 1 %}s{% endif %}</th>
                        <td>
                            {{ composers(content) }}
                        </td>
                    </tr>
                    {% if content.genres %}
                    <tr>
                        <th>Genre{% if content.genres | length > 1 %}s{% endif %}</th>
                        <td>{{ content.genres | join(", ") }}</td>
                    </tr>
                    {% endif %}
                    {% if content.cycles %}
                    <tr>
                        <th>Cycles</th>
                        <td>
                            {% for cycle in content.cycles %}
                                <dl>
                                    <dt>{{ cycle.title }} ({{ cycle.type }})</dt>
                                    <dd>
                                        {% for composition in cycle.compositions %}
                                            <div><a href="{{ composition.url }}">{{ composition.title }}</a></div>
                                        {% endfor %}
                                    </dd>
                                </dl>
                            {% endfor %}
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    {% if content.notes %}
        <div class="columns">
            <div class="column is-half">
            {% for note in content.notes %}
                <h4 class="title is-5">{{ note.note_type }}</h4>
                <p>{{ note.note|markdown|safe }}</p>
            {% endfor %}
            </div>
        </div>
    {% endif %}
    <div class="columns">
        <div class="column">
            <h3 class="title is-4">Appears in</h3>
            <table class="table is-narrow" x-data>
                <thead>
                    <tr>
                        <th>Source</th>
                        <th>Location</th>
                        <th>Voices</th>
                    </tr>
                </thead>
                <tbody>
                {% for source in content.sources %}
                    {% set has_images = (source.has_images and source.public_images) or source.has_external_manifest %}
                    <tr>
                        <td>
                            {% if has_images %}
                                <span class="icon">
                                    <i class="fa fa-picture-o" aria-hidden="true"></i>
                                </span>
                            {% endif %}
                            <a href="{{ source.url }}">{{ source.display_name }}</a>
                        </td>
                        <td>
                            {{ foliation(source, False) }}
                        </td>
                        <td>
                            {% if source.voices %}
                            {{ voices(source) }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% if content.bibliography %}
    <div class="columns">
        <div class="column">
            <h3 class="title is-4">Bibliography</h3>
            {% for item in content.bibliography %}
                <p>{{ item.citation | safe }} pp. {{ item.pages }}.</p>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    {% if request.user.is_staff %}
        {% with edit_path="/admin/diamm_data/composition/" %}
            {% include "website/blocks/edit_bar.jinja2"  %}
        {% endwith %}
    {% endif %}
{% endblock %}


