{% extends "base.jinja2" %}

{% block title %}
    <title>Digital Image Archive of Medieval Music :: {{ content.title }}</title>
{% endblock %}

{% block body %}
    <div class="columns">
        <div class="column">
            <h2 class="title is-3">{{ content.title }}</h2>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <table class="source-details">
                <tbody>
                    <tr>
                        <th>Composer{% if content.composers | length > 1 %}s{% endif %}</th>
                        <td>
                        {% if content.composers %}
                            {% for composer in content.composers %}
                                <a href="{{ composer.url }}">{{ composer.full_name }} </a>
                                {% if composer.uncertain %}
                                    (uncertain)
                                {% endif %}
                            {% endfor %}
                        {% elif content.anonymous %}
                            Anonymous
                        {% endif %}
                        </td>
                    </tr>
                    {% if content.genres %}
                    <tr>
                        <th>Genre{% if content.genres | length > 1 %}s{% endif %}</th>
                        <td>{{ content.genres | join(", ") }}</td>
                    </tr>
                    {% endif %}
                    {% if content.cycles %}
                    <tr>
                        <th>Cycles</th>
                        <td>
                            {% for cycle in content.cycles %}
                                <dl>
                                    <dt>{{ cycle.title }} ({{ cycle.type }})</dt>
                                    <dd>
                                        {% for composition in cycle.compositions %}
                                            <div><a href="{{ composition.url }}">{{ composition.title }}</a></div>
                                        {% endfor %}
                                    </dd>
                                </dl>
                            {% endfor %}
                        </td>
                    </tr>
                    {% endif %}
                    <tr>
                        <th>Appears in</th>
                        <td>
                            {% for source in content.sources %}
                                <div>
                                    {% if source.has_images and source.public_images %}
                                        <i class="fa fa-picture-o" aria-hidden="true"></i>
                                    {% endif %}
                                    <a href="{{ source.url }}">{{ source.display_name }}</a>
                                </div>
                            {% endfor %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    {% if content.bibliography %}
    <div class="columns">
        <div class="column">
            <h3 class="title is-4">Bibliography</h3>
            {% for item in content.bibliography %}
                <p>{{ item.citation | safe }} pp. {{ item.pages }}.</p>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    {% if request.user.is_staff %}
        {% with edit_path="/admin/diamm_data/composition/" %}
            {% include "website/blocks/edit_bar.jinja2"  %}
        {% endwith %}
    {% endif %}
{% endblock %}


