{% extends "base.jinja2" %}

{% block body %}
    <div class="columns">
        <div class="column">
            <h2 class="title">{{ content.name }}, <a href="{{ content.country.url }}">{{ content.country.name }}</a></h2>

            {% if content.archives %}
            <h3 class="title is-4">Archives</h3>
            <ul>
                {% for archive in content.archives %}
                    <li>
                        <a href="{{ archive.url }}">{{ archive.name }}</a>
                    </li>
                {% endfor %}
            </ul>
            {% endif %}

            {% if content.organizations %}
                <h3 class="title is-4">Organizations</h3>
                <ul>
                    {% for organization in content.organizations %}
                    <li>
                        <a href="{{ organization.url }}">{{ organization.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}
