{% extends "base.jinja2" %}

{% block body %}
    <div>
        <h1>{{ content.name }}, <a href="{{ content.country.url }}">{{ content.country.name }}</a></h1>
        <h2>Archives</h2>
        <ul>
        {% for archive in content.archives %}
            <li>
                <a href="{{ archive.url }}">{{ archive.name }}</a>
            </li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}
