{% extends "base.jinja2" %}

{% block body %}
    <div class="row">
        <div class="twelve columns offset-by-four">
            <p>Your password change has been successful.</p>
        </div>
    </div>
{% endblock %}
