{% extends "base.jinja2" %}
{% import "website/blocks/form_field.jinja2" as form_field %}

{% block body %}
    <div class="columns">
        <div class="column is-half is-offset-one-quarter">
            <h2 class="title">Change Password</h2>
            <form method="post">
                {% csrf_token %}
                {{ form_field.format(form.old_password, "password") }}
                {{ form_field.format(form.new_password1, "password") }}
                {{ form_field.format(form.new_password2, "password") }}
                <button type="submit" class="button is-primary">Reset</button>
            </form>
        </div>
    </div>
{% endblock %}
