{% extends "base.jinja2" %}

{% block body %}
    <div class="columns">
        <div class="column is-half is-offset-one-quarter">
            <h2 class="title">Password change successful</h2>
            <p>You may now <a href="{{ url('login') }}">Log in</a>.</p>
        </div>
    </div>
{% endblock %}
