{% extends "base.jinja2" %}

{% block body %}
    <div class="row">
        <div class="offset-by-five eleven columns">
            <div class="login-block">
                {% if success %}
                    <h2>Confirmation Success</h2>
                {% else %}
                    <h2>Confirmation Problem</h2>
                {% endif %}
                <p>{{ content }}</p>
            </div>
        </div>
    </div>
{% endblock %}
