{% extends "base.jinja2" %}

{% block body %}
        <form action="{{ url("login") }}" method="post">
            <input id="username" name="username" placeholder="Username">
            <input type="password" id="password" name="password" placeholder="Password">
            <button type="submit">Submit</button>
        </form>
{% endblock %}
