{% extends "base.jinja2" %}


{% block body %}
    <div class="row">
        <div class="offset-by-five eleven columns">
            <div class="login-block">
                <h2>Migrate your account</h2>
                <form>
                    <input class="u-full-width" type="text" placeholder="Username or E-mail Address">
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
