{% extends "base.jinja2" %}

{% block body %}
    <div class="columns">
        <div class="column is-half is-offset-one-quarter">
            <h2 class="title">Reset successful</h2>
            <p>Your password has been reset.  You may <a href="{{ url('login') }}">log in</a> now.</p>
        </div>
    </div>
{% endblock %}
