{% extends "base.jinja2" %}

{% block body %}
    <div class="row">
        <div class="offset-by-five eleven columns">
            <div class="login-block">
                <h2>Reset password</h2>
                <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
                <p>NB: Accounts on the beta website are independent from diamm.ac.uk, and resetting your password on this site will not affect your account details on the old site.</p>
                <form method="post" class="reset">{% csrf_token %}
                    {{ form }}
                    <button type="submit">Reset</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
