{% extends "base.jinja2" %}
{% import "website/blocks/form_field.jinja2" as form_field %}

{% block body %}
    <div class="columns">
        <div class="column is-half is-offset-one-quarter">
            <div>
                <h2 class="title">Reset password</h2>
                <p>
                    Forgotten your password? Enter your email address below, and we'll send instructions for setting a new one.
                </p>
                <p>
                    Note: If you do not receive an e-mail, you may be using an a different address than the one we have
                    on file. You can try again with a different address, or <a href="{{ url('register') }}">sign up
                    for a new account</a>.
                </p>
                <form method="post" class="reset">
                    {% csrf_token %}
                    {{ form_field.format(form.email, "text") }}
                    <div class="field">
                        <input class="input" type="hidden" name="next" value="/reset/sent/" />
                    </div>
                    <div class="field is-pulled-right">
                        <button type="submit" class="button is-primary">Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
