{% extends "base.jinja2" %}

{% block title %}
    <title>Digital Image Archive of Medieval Music :: Countries</title>
{% endblock %}

{% block body %}
    <div class="columns">
        <div class="column">
            <h2 class="title is-3">Browse Countries</h2>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <p>Use this page to browse countries, cities, states, and regions in the DIAMM database.</p>
            <table class="table is-narrow">
                <thead>
                    <tr>
                        <th>Country</th>
                        <th>Cities</th>
                        <th>States</th>
                        <th>Regions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for country in content %}
                    <tr>
                        <td>
                            <a href="{{ country.url }}">{{ country.name }}</a>
                        </td>
                        <td>
                            <table class="table is-narrow">
                                <tbody>
                                    {% for city in country.cities %}
                                        <tr>
                                            <td>
                                                <a href="{{ city.url }}">{{ city.name }}</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </td>
                        <td>
                            {% if country.states %}
                            <table class="table is-narrow">
                                <tbody>
                                {% for state in country.states %}
                                <tr>
                                    <td>
                                        <a href="{{ state.url }}">{{ state.name }}</a>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            {% endif %}
                        </td>
                        <td>
                            {% if country.regions %}
                            <table class="table is-narrow">
                                <tbody>
                                    {% for region in country.regions %}
                                    <tr>
                                        <td>
                                            <a href="{{ region.url }}">{{ region.name }}</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}