{% extends "base.jinja2" %}

{% block body %}
    <div>
        <h1>Countries</h1>
        {% for country in content.results %}
            <h4><a href="{{ country.url }}">{{ country.name }}</a></h4>
        {% endfor %}
        {% include "website/blocks/browse_paginator.jinja2" %}
    </div>
{% endblock %}
