<div>
    {% for voice in content %}
        <ul>
            {% if voice.label %}
            <li><strong>Voice: </strong> {{ voice.label }}</li>
            {% endif %}

            {% if voice.type %}
                <li><strong>Voice Type: </strong> {{ voice.type }}</li>
            {% endif %}

            {% if voice.text %}
                <li><strong>Text: </strong> {{ voice.text }}</li>
            {% endif %}

            {% if voice.standard_text %}
                <li><strong>Standard Text: </strong> {{ voice.standard_text }}</li>
            {% endif %}

            {% if voice.clef %}
                <li><strong>Clef: </strong> {{ voice.clef }}</li>
            {% endif %}

            {% if voice.mensuration %}
                <li><strong>Mensuration: </strong> {{ voice.mensuration }}</li>
            {% endif %}

            {% if voice.position %}
                <li><strong>Position: </strong> {{ voice.position }}</li>
            {% endif %}
        </ul>
    {% endfor %}
</div>