
<dl>
{% for voice in content %}
    <div>
        {% if voice.label %}
            <dt>Voice</dt>
            <dd>{{ voice.label }}</dd>
        {% endif %}

        {% if voice.type %}
            <dt>Voice Type</dt>
            <dd>{{ voice.type }}</dd>
        {% endif %}

        {% if voice.text %}
            <dt>Text</dt>
            <dd>{{ voice.text }}</dd>
        {% endif %}

        {% if voice.standard_text %}
            <dt>Standard Text</dt>
            <dd>{{ voice.standard_text }}</dd>
        {% endif %}

        {% if voice.clef %}
            <dt>Clef</dt>
            <dd>{{ voice.clef }}</dd>
        {% endif %}

        {% if voice.mensuration %}
            <dt>Mensuration</dt>
            <dd>{{ voice.mensuration }}</dd>
        {% endif %}

        {% if voice.position %}
            <dt>Position</dt>
            <dd>{{ voice.position }}</dd>
        {% endif %}
    </div>
{% endfor %}
</dl>
