{% macro commentblock() %}
    <div>
        <hr />
        <form action="/commentary/" method="POST">
            <div class="field">
                <div class="control">
                    <textarea name="comment" class="textarea"></textarea>
                </div>
            </div>
            <div class="field has-addons is-pulled-right">
                <div class="control">
                    <div class="select">
                        <select name="comment_type">
                            <option value="public">Public Comment (Visible to Everyone)</option>
                            <option value="private">Private Comment (Visible to only you)
                            </option>
                        </select>
                    </div>
                </div>
                <div class="control">
                    <button type="submit" class="button is-primary">
                        Add Comment
                    </button>
                </div>
            </div>
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            <input type="hidden" name="record_pk" value="{{ content.pk }}">
            <input type="hidden" name="record_type" value="source">
        </form>
    </div>
{% endmacro %}

<div class="columns">
{% if not content.commentary %}
    <div class="column is-two-thirds">
        <p class="notification is-warning is-light">
            This form is used to make comments on a source. If you wish to notify us of a correction to
            the record, you should use the "Contribute a change" form instead.
        </p>
        <div class="notification">
            <p>No comments have been made.</p>
        </div>
        {% if request.user.is_authenticated %}
            {{ commentblock() }}
        {% endif %}
    </div>
{% else %}
    <div class="column is-two-thirds">
        {% set public = content.commentary.public %}
        {% set private = content.commentary.private %}
        {% if public %}
            <div>
            <h4 class="title is-4">Public Comments</h4>
            <p class="notification is-warning is-light">
                This form is used to make comments on a source. If you wish to notify us of a correction to
                the record, you should use the "Contribute a change" form instead.
            </p>
            {% for comment in public %}
                <article class="media box">
                    <div class="media-content">
                        <h3 class="title is-5">
                            <span>{{ comment.author }}</span>
                        </h3>
                        <h4 class="subtitle is-6">{{ comment.updated }}</h4>
                        <p class="content">
                            {{ comment.comment|markdown|safe }}
                        </p>
                    </div>
                </article>
            {% endfor %}
            </div>
        {% endif %}
        {% if private %}
            <hr />
            <div>
                <h4 class="title is-4">Private Comments</h4>
                {% for comment in private %}
                    <article class="media box">
                        <div class="media-content">
                            <h3 class="title is-5">
                                <span>{{ comment.author }}</span>
                            </h3>
                            <h4 class="subtitle is-6">{{ comment.updated }}</h4>
                            <p class="content">
                                {{ comment.comment|markdown|safe }}
                            </p>
                        </div>
                    </article>
                {% endfor %}
            </div>
        {% endif %}
        {% if request.user.is_authenticated %}
            {{ commentblock() }}
        {% endif %}
    </div>
{% endif %}
</div>