<div class="columns">
    <div class="column is-two-thirds content">
        <p>Use this form to report a correction or contribute to the source record for <strong>{{ content.display_name }}</strong>.
            Your submission will be reviewed by DIAMM staff and, if accepted you will be acknowledged in the "Contributors"
            section of the source record.
        </p>
        <form action="/corrections/" method="POST">
            <div class="field">
                <div class="control">
                    <textarea name="note" class="textarea"></textarea>
                </div>
            </div>
            <p class="control is-pulled-right">
                <button type="submit" class="button is-primary">
                    Submit
                </button>
            </p>
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            <input type="hidden" name="record_pk" value="{{ content.pk }}">
            <input type="hidden" name="record_type" value="source">
        </form>
    </div>
</div>
