<div class="columns">
    <div class="column is-two-thirds content">
{#        <ThankYou submitted={ this.props.submitted } />#}
        <p>Use this form to report a correction or contribute to the source record for <strong>{{ content.display_name }}</strong>.
            Your submission will be reviewed by DIAMM staff and, if accepted you will be acknowledged in the "Contributors"
            section of the source record.
        </p>
        <div class="field">
            <div class="control">
                <textarea class="textarea"></textarea>
            </div>
        </div>
        <p class="control is-pulled-right">
            <button class="button is-primary">
                Submit
            </button>
        </p>
    </div>
</div>