<script src="{{ static('apps/source-image-viewer.js') }}"></script>

<div id="diva-wrapper"
     data-manifest-url="{{ content.manifest_url }}"
     data-openseadragon-url="https://cdn.jsdelivr.net/npm/openseadragon@6.1.0/build/openseadragon/openseadragon.min.js"
     data-diva-url="{{ static('vendor/diva-7.4.2/diva.js') }}"></div>
