{% from "website/macros.jinja2" import foliation %}

<div class="column is-two-thirds">
    <table class="table">
        <thead>
        <tr>
            <th>Composer</th>
            <th>Compositions</th>
        </tr>
        </thead>
        <tbody>
        {% set show_imagelinks = content.manifest_url is defined %}
        {% for entry in content.composer_inventory %}
        <tr class="composer-order">
            <td class="composer">
                <span>
                    {% if entry.url %}
                    <a href="{{ entry.url }}">{{ entry.name }}</a>
                    {% else %}
                        {{ entry.name }}
                    {% endif %}
                </span>
            </td>
            <td class="composition-details">
                <ul>
                    {% for cmp in entry.inventory %}
                    <li>
                        {{ "(?) " if cmp.uncertain else "" }}
                        <a href="{{ cmp.url }}">{{ cmp.composition|default("[No description]") }}</a>
                        &ndash;{{ foliation(cmp, show_imagelinks and entry.pages and request.user.is_authenticated) }}
                    </li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>