{% from "website/macros.jinja2" import foliation, composers %}

<div class="column">
    <table class="table inventory-table">
        <thead>
        <tr>
            <th>Composition</th>
            <th>Composers (? Uncertain)</th>
            <th>Folios / Pages</th>
        </tr>
        </thead>
        <tbody>
        {% set show_imagelinks = content.manifest_url is defined and request.user.is_authenticated %}
        {% for entry in content.inventory | selectattr("composition") | sort(attribute="composition") %}
        <tr class="alpha-order">
            <td class="item-details">
                <a href="{{ entry.url }}">{{ entry.composition }}</a>
                {% if entry.fragment %}<em>(frag.)</em>{% endif %}
                {% if entry.completeness %}<br /><em>{{ entry.completeness }}</em>{% endif %}
            </td>
            <td>
                {{ composers(entry) }}
            </td>
            <td>
                {{ foliation(entry, show_imagelinks and entry.pages) }}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
