
<div x-data>
    <div class="columns">
        <div class="column">
            <nav class="level">
                <div class="level-left">
                    <div class="level-item">
                        <div class="tabs">
                            <ul>
                                {% if content.inventory or content.uninventoried %}
                                    <li id="primary-inventory-tab"
                                        :class="$store.inventoryTabs.isSelected($el.id) ? 'is-active' : ''"
                                        @click="$store.inventoryTabs.select($el.id)"
                                    >
                                        <a href="#/inventory">{{ "Uninventoried" if content.uninventoried else "Source Order" }}</a>
                                    </li>
                                {% endif %}
                                {% if content.inventory %}
                                    <li id="composer-inventory-tab"
                                        :class="$store.inventoryTabs.isSelected($el.id) ? 'is-active' : ''"
                                        @click="$store.inventoryTabs.select($el.id)"
                                    >
                                        <a href="#/inventory/composer">By Composer (A-Z)</a>
                                    </li>
                                {% endif %}
                                {% if content.inventory %}
                                    <li id="composition-inventory-tab"
                                        :class="$store.inventoryTabs.isSelected($el.id) ? 'is-active' : ''"
                                        @click="$store.inventoryTabs.select($el.id)"
                                    >
                                        <a href="#/inventory/alphabetical">By Composition (A-Z)</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div>
        <section id="primary-inventory-panel"
                 x-show="$store.inventoryTabs.isSelected('primary-inventory-tab')"
                 class="columns">
            {% if content.uninventoried %}
                {% include "website/source/inventory-uninventoried.jinja2" %}
            {% else %}
                {% include "website/source/inventory-source-order.jinja2" %}
            {% endif %}
        </section>
        {% if content.inventory %}
            <section id="composer-inventory-panel"
                     x-show="$store.inventoryTabs.isSelected('composer-inventory-tab')"
                     class="columns"
            >
                {% include "website/source/inventory-composer-order.jinja2" %}
            </section>
        {% endif %}
        {% if content.inventory %}
            <section id="composition-inventory-panel"
                     x-show="$store.inventoryTabs.isSelected('composition-inventory-tab')"
                     class="columns">
                {% include "website/source/inventory-composition-order.jinja2" %}
            </section>
        {% endif %}
    </div>
</div>