<div class="tab-panel row" id="inventory">
    <div class="eight columns source-inventory">
        {% if content.inventory %}
        <h3>Inventory (Source order)</h3>
        <dl>
            {% for item in content.inventory %}
            <dt class="source-inventory-header">

                {% if item.folio_start %}
                <a href="#" class="folio-link" data-page="{{item.folio_start}}" >{{ item.folio_start }}
                        {% if item.folio_end %}
                            &ndash;{{ item.folio_end }}
                        {% endif %}</a>:
                {% endif %}

                <a href="{{ item.url }}">{{ item.composition }}</a>

                ({%- for composer in item.composers -%}
                    {{ "?" if composer.uncertain else "" }}
                    {%- if composer.url %}<a href="{{ composer.url }}">{% endif -%}
                {{ composer.full_name }}
                {%- if composer.url -%}</a>{%- endif -%}
                {%- if not loop.last -%}; {%- endif -%}
                {% endfor %})
            </dt>
            <dd>
                <table>
                    {% if item.num_voices %}
                    <tr>
                        <th>Number of voices</th>
                        <td>{{ item.num_voices }}</td>
                    </tr>
                    {% endif %}
                    {% if item.bibliography %}
                        <tr>
                            <th>Bibliography</th>
                            <td class="source-bibliography">
                                {% for entry in item.bibliography %}
                                    <p>{{ entry.prerendered_s | safe }}</p>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endif %}
                </table>
            </dd>
            {% endfor %}
        </dl>
        {% endif %}

        {% if content.uninventoried %}
            <h4>Uninventoried Composers</h4>
            <p>This source features un-inventoried works by:</p>
            <ul>
                {% for item in content.uninventoried %}
                    <li>
                        {% for composer in item.composers %}
                            {{ "?" if composer.uncertain else "" }}<a href="{{ composer.url }}">{{ composer.full_name }}</a>
                            {%- if not loop.last %}; {% endif -%}
                        {% endfor %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div class="eight columns composer-inventory">
        <h3>Inventory (by Composer)</h3>
        {% if content.composer_inventory %}
            <dl>
            {% for composer in content.composer_inventory %}
                <dt class="composer-inventory-header">
                    {% if composer.url %}<a href="{{ composer.url }}">{% endif %}
                        {{ composer.name }}
                    {% if composer.url %}</a>{% endif %}
                    {% if composer.uncertain %} (Uncertain Attributions) {% endif %}
                </dt>
                <dd>
                    <ul>
                    {% for item in composer.inventory %}
                        <li>
                            {%- if item.folio_start_s %}
                                <a href="#" class="folio-link" data-page="{{ item.folio_start_s }}">{{ item.folio_start_s }}
                                {%- if item.folio_end_s != item.folio_start_s -%}&ndash;{{ item.folio_end_s }}: {%- endif -%}
                                </a>
                            {% endif -%}
                            <a href="{{ url('composition-detail', pk=item.composition_i) }}">{{ item.composition_s }}</a></li>
                    {% endfor %}
                    </ul>
                </dd>
            {% endfor %}
            </dl>
        {% endif %}
    </div>
</div>
