<div class="tab-panel row" id="bibliography">
    <div class="sixteen columns">
        <h4>Bibliography</h4>
        {% for entry in content.bibliography %}
            <p>
                {% if entry.primary_study %}
                &Dagger;
                {% endif %}
                {{ entry.prerendered | safe }}
                {% if entry.pages %}
                pp. {{ entry.pages }}.
                {% endif %}
            </p>
        {% endfor %}
        <hr />
        <p>&Dagger; <em>denotes primary source study</em></p>
    </div>
</div>
