<div class="tab-panel row" id="images">
    <div class="six columns">
        <div id="image-item-listing">
            &nbsp;
        </div>
    </div>

    <div class="ten columns">
        <div id="diva-wrapper"></div>
    </div>
</div>
