<div class="tab-panel row" id="inventory">
    <div class="sixteen columns source-inventory">
        <h3>Inventory</h3>

        {% if content.inventory %}
        <dl>
            {% for item in content.inventory %}
            <dt class="source-inventory-header">
                <a href="#">{{ item.folio_start }}&ndash;{{ item.folio_end }}</a>: {{ item.composition }},
                {% for composer in item.composers %}
                    {{ "?" if composer.uncertain else "" }}
                    {%- if composer.url %}<a href="{{ composer.url }}">{% endif -%}
                {{ composer.full_name }}
                {%- if composer.url -%}</a>{%- endif -%}
                {%- if not loop.last -%}; {%- endif -%}
                {% endfor %}
            </dt>
            <dd>
                <table>
                    {% if item.num_voices %}
                    <tr>
                        <th>Number of voices</th>
                        <td>{{ item.num_voices }}</td>
                    </tr>
                    {% endif %}
                    {% if item.bibliography %}
                        <tr>
                            <th>Bibliography</th>
                            <td class="source-bibliography">
                                {% for entry in item.bibliography %}
                                    <p>{{ entry.prerendered_s | safe }}</p>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endif %}
                </table>
            </dd>
            {% endfor %}
        </dl>
        {% endif %}

        {% if content.uninventoried %}
            <h4>Uninventoried Composers</h4>
            <p>This source features un-inventoried works by:</p>
            <ul>
                {% for item in content.uninventoried %}
                    <li>
                        {% for composer in item.composers %}
                            {{ "?" if composer.uncertain else "" }}<a href="{{ composer.url }}">{{ composer.full_name }}</a>
                            {%- if not loop.last %}; {% endif -%}
                        {% endfor %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>
