<div class="tab-panel row" id="sets">
    <div class="sixteen columns source-sets">
        <h3>Related Sets</h3>
        {% for set in content.sets %}
            <h4>{{ set.cluster_shelfmark }}</h4>
            <p>{{ set.set_type }}</p>
            <table>
                <thead>
                <tr>
                    <th>Source</th>
                </tr>
                </thead>
                <tbody>
                {% for source in set.sources %}
                    <tr>
                        <td><a href="{{ source.url }}">{{ source.display_name_s }}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    </div>
</div>
