{% extends "base.jinja2" %}

{% block body %}
    <div class="row">
        <div class="sixteen columns">
            <h1>{{ content.cluster_shelfmark }}</h1>
            {% if content.sources %}
                <h2>Sources</h2>
                <ul>
                {% for source in content.sources %}
                    <li><a href="{{ source.url }}">{{ source.display_name }}</a></li>
                {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}
