{% extends "base.jinja2" %}

{% block title %}
    <title>Digital Image Archive of Medieval Music :: {{ content.cluster_shelfmark }}</title>
{% endblock %}

{% block body %}
    <div class="columns">
        <div class="column">
            <h2 class="title is-3">Set: {{ content.cluster_shelfmark }}</h2>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <table class="source-details">
                <tbody>
                    <tr>
                        <th>Set type</th>
                        <td>{{ content.type }}</td>
                    </tr>
                    <tr>
                        <th>Holding archives</th>
                        <td>
                            {{ content.holding_archives|join("; ") }}
                        </td>
                    </tr>
                    {% if content.description %}
                    <tr>
                        <th>Set description</th>
                        <td>
                            {{ content.description | markdown | safe }}
                        </td>
                    </tr>
                    {% endif %}
                    {% if content.bibliography %}
                    <tr>
                        <th>Bibliography</th>
                        <td>
                            {% for entry in content.bibliography %}
                            <p class="bibliography-entry">
                                {{ entry.prerendered|safe }}
                            </p>
                            {% endfor %}
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    {% if content.sources %}
    <div class="columns">
        <div class="column">
            <h3 class="title is-4">Sources</h3>
            <div class="archive-sources">
                {% for source in content.sources %}
                    <div class="box">
                        {% if source.cover_image %}
                            <a href={{ source.url }}>
                                <figure class="image" style="width: 100px; margin: auto;">
                                    <img loading="lazy" src="{{ source.cover_image }}"/>
                                </figure>
                            </a>
                        {% else %}
                            <div class="no-image">
                                <div>
                                    <i class="fa fa-eye-slash"></i>
                                </div>
                                <div>
                                    <small>No images available</small>
                                </div>
                            </div>
                        {% endif %}
                        <p>
                            <a href={{ source.url }}>{{ source.display_name }}</a>
                        </p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
    {% if request.user.is_staff %}
        {% with edit_path="/admin/diamm_data/set/" %}
            {% include "website/blocks/edit_bar.jinja2" %}
        {% endwith %}
    {% endif %}
{% endblock %}
