{% extends "base.jinja2" %}

{% block body %}
    <div class="columns">
        <div class="column is-offset-1 is-10">
            {% block cmsbody %}
            {% endblock %}
        </div>
    </div>

{% endblock %}
