{% extends "website/cms/cmsbase.jinja2" %}

{% block title %}
    <title>{{ page.title }}</title>
{% endblock %}

{% block cmsbody %}
    <div class="columns">
        <div class="column">
            <h2 class="title is-2">{{ page.title }}</h2>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <div class="content">
                {{ page.body | richtext }}
            </div>
        </div>
        {% set children = page.get_children().specific() %}
        {% if children %}
        <div class="column is-one-quarter">
            <h4 class="title is-5">In this section</h4>
            {% for child in children %}
            <div>
                <a href="{{ pageurl(child) }}">{{ child.title }}</a>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
{% endblock %}
