{% extends "website/cms/cmsbase.jinja2" %}

{% block title %}
    <title>{{ page.title }}</title>
{% endblock %}

{% block cmsbody %}
    <div class="columns">
        <div class="column">
            <h2 class="title is-2">{{ page.title }}</h2>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <div class="content">
                {{ page.body | richtext }}
            </div>
        </div>
    </div>
{% endblock %}
