{% extends "base.jinja2" %}

{% block body %}
    <div class="columns">
        <div class="column">
            <div class="content">
                News Index
            </div>
        </div>
    </div>
{% endblock %}
