{% extends "base.jinja2" %}

{% block body %}
    <div class="columns">
        <div class="column">
            <h2 class="title is-2">Access Denied</h2>
            <p>
                You do not have permissions to view this resource.
            </p>
        </div>
    </div>
{% endblock %}
