{% extends "base.jinja2" %}

{% block body %}
    <div class="columns">
        <div class="column">
            <h2 class="title is-2">Not Found</h2>
            <p>
                The page you were looking for does not exist. You can try <a href="/search">searching</a> for
                the item instead.
            </p>
        </div>
    </div>
{% endblock %}
