{% extends "base.jinja2" %}

{% block body %}
    <div class="columns">
        <div class="column">
            <h2 class="title is-2">Server Error</h2>
            <p>
                An internal server error has occurred.
            </p>
        </div>
    </div>
{% endblock %}
