<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="search" href="{{ request.scheme }}://{{ request.get_host() }}{{ url('opensearch') }}" type="application/opensearchdescription+xml" title="DIAMM"/>
    <link rel="stylesheet" href="{{ static('stylesheets/styles.css') }}" />
    {% block title %}
    <title>Digital Image Archive of Medieval Music</title>
    {% endblock %}
    {% block head %}
    {% endblock %}
    <script type="application/json">
    {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "Digital Image Archive of Medieval Music",
        "url": "https://www.diamm.ac.uk",
        "address": {
            "@type": "PostalAddress",
            "addressCountry": "United Kingdom",
            "addressLocality": "Oxford",
            "addressRegion": "Oxfordshire",
            "streetAddress": "St. Aldates",
            "postalCode": "OX1 1DB"
        }
        "contactPoint": [{
            "@type": "ContactPoint",
            "telephone": "+44 (0)1865 241323",
            "contactType": "customer service",
            "email": "diamm@music.ox.ac.uk",
            "hoursAvailable": {
                "@type": "OpeningHoursSpecification",
                "opens": "10:00:00Z+00:00",
                "closes": "19:00:00Z+00:00"
            }
        }]
    }
    </script>
</head>
<body>
    {% if messages %}
        <div class="columns is-marginless">
            <div class="column is-marginless is-paddingless">
                {% for message in messages %}
                    <div class="notification is-info">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% include "website/blocks/header.jinja2" %}

    <div class="full-width">
        {% block fullwidth %}
        {% endblock %}
    </div>

    <main class="container is-fluid is-fullheight page-body">
        {% block body %}
        {% endblock %}
    </main>

    <footer class="footer">
        <div class="container columns">
            <div class="column is-one-third footer-address">
                <div class="container" style="height: 70px;">
                    <img src="{{ static('images/headerLogo.png') }}" alt="DIAMM Logo" style="height: 70px; width: auto;"/>
                </div>
                <h5 class="title is-5">The Digital Image Archive of Medieval Music</h5>
                <p>University of Oxford<br />
                    Faculty of Music<br />
                    St. Aldates<br />
                    Oxford, OX1 1DB<br />
                    United Kingdom
                </p>
                <a href="https://www.ox.ac.uk" target="_blank">
                    <img src="{{ static('images/oxford-large.png') }}" alt="University of Oxford" style="height: 70px; width: auto;"/>
                </a>
            </div>
             <div class="column is-two-thirds footer-address">
                 <div class="container" style="height: 70px;">
                     <a href="https://alliancecan.ca/en" target="_blank">
                        <img src="{{ static('images/digital-research-alliance.png') }}" alt="Digital Research Alliance of Canada Logo"
                             style="max-height: 50px; width: auto"/>
                     </a>
                 </div>
                 <h5 class="title is-5">DIAMM is hosted by the Digital Research Alliance of Canada</h5>
                 <div class="container" style="height: 70px;">
                     <a href="https://rism.digital" target="_blank">
                        <img src="{{ static('images/rism-logo.png') }}" alt="RISM Digital Center" style="height: 60px; width: auto;"/>
                     </a>
                 </div>
                 <h5 class="title is-5">In partnership with the RISM Digital Center.</h5>
             </div>
        </div>
    </footer>
    {% block scripts %}
    {% endblock %}
    {% if not debug %}
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-BX71EKZJVX"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-BX71EKZJVX');
    </script>
    {% endif %}
</body>
</html>
