<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="search" href="{{ request.scheme }}://{{ request.get_host() }}{{ url('opensearch') }}" type="application/opensearchdescription+xml" title="DIAMM"/>
    {% block title %}
    <title>Digital Image Archive of Medieval Music :: Home</title>
    {% endblock %}
    <link rel="stylesheet" href="{{ static('stylesheets/styles.css') }}" />
    {% block head %}
    {% endblock %}
</head>
<body>
    {% include "website/blocks/header.jinja2" %}

    {% block fullwidth %}
    {% endblock %}

    <div class="container">
        {% block body %}
        {% endblock %}
    </div>

    <footer class="footer" style="text-align: center;">
        <img src="{{ static('images/oxford.png') }}">
        <img src="{{ static('images/bodleian.png') }}">
        <img src="{{ static('images/ba.png') }}">
        <img src="{{ static('images/johnfell.png') }}">
        <img src="{{ static('images/ahrc.png') }}">
    </footer>

    <script src="{{ static('javascripts/dist/bundle.js') }}" type="application/javascript"></script>
    {% block scripts %}
    {% endblock %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-70914579-2', 'auto');
        ga('send', 'pageview');

    </script>
</body>
</html>
