<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    <title>Digital Image Archive of Medieval Music :: Home</title>
    {% endblock %}
    <link rel="stylesheet" href="{{ static('stylesheets/styles.css') }}" />
    {% block head %}
    {% endblock %}
</head>
<body>
    <header>
        {% include "website/blocks/main_menu.jinja2" %}
    </header>

    {% block fullwidth %}
    {% endblock %}

    <div class="container">
        {% block body %}
        {% endblock %}
    </div>

    <footer class="footer">
        <img src="{{ static('images/oxford.png') }}">
        <img src="{{ static('images/bodleian.png') }}">
        <img src="{{ static('images/ba.png') }}">
        <img src="{{ static('images/johnfell.png') }}">
        <img src="{{ static('images/ahrc.png') }}">
    </footer>

    <script src="{{ static('javascripts/dist/bundle.js') }}" type="application/javascript"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>
