{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static "stylesheets/styles.css" %}" />
    {% block head %}

    {% endblock %}
</head>
<body>
    <header>
        {% include "website/blocks/main_menu.html" %}
    </header>

    <div class="container-fluid">
        <div class="row">
        {% block body %}{% endblock %}
        </div>
    </div>

    <footer class="footer">
        <div class="container-fluid">
            <p>Footer Stuff here.</p>
        </div>
    </footer>

    <script type="application/javascript" src="{% static "javascripts/jquery.min.js" %}"></script>
    <script type="application/javascript" src="{% static "javascripts/bootstrap.min.js" %}"></script>
    {% block scripts %}

    {% endblock %}
</body>
</html>
