{% extends "base.jinja2" %}

{% block body %}
    <div class="row">
        <div class="sixteen columns beta-notice">
            <h2>About the DIAMM Beta</h2>
            <p>
                This public beta is an opportunity for users of the DIAMM website to provide feedback on the usability of the
                tools and information available on the site. During the public beta period, you can contact
                <a href="mailto:andrew.hankinson@music.ox.ac.uk">andrew.hankinson@music.ox.ac.uk</a> to provide specific feedback
                on a feature or to report a broken part of the site. If you are comfortable with using GitHub, we also
                report and track issues for the site on our <a href="https://github.com/diamm/diamm/issues">Issue Tracker</a>.
            </p>
            <p>
                Before working on this site, however, users should be aware of the following caveats:
                <dl>
                    <dt>User accounts will likely not transfer to the final site</dt>
                    <dd>
                        If you create a user account on the beta site, it will not be transferred to the final version of the
                        site. If you have an existing user account with the DIAMM website, you can reset your password, but you
                        will also need to do this again when the new website goes live.
                    </dd>
                    <dt>The behaviour of the site will change</dt>
                    <dd>
                        This site is still under heavy development, and many of the elements of the user interface will be
                        changing as we improve or re-work it.
                    </dd>
                    <dt>Things will break</dt>
                    <dd>
                        Although we will do our best to keep the beta site functional and usable, it should <strong>not</strong>
                        be used in situations, like classrooms or public presentations, where stability is essential.
                    </dd>
                    <dt>Not everything works</dt>
                    <dd>
                        Many of the interface elements are placeholders, and have not yet been implemented. If clicking on a
                        link does not work, it is likely that it is on our "to-do" list.
                    </dd>
                    <dt>Not everything makes sense (yet)</dt>
                    <dd>
                        As part of the migration to the new site, we are re-working the structure and behaviour of the
                        underlying data behind DIAMM. As a result, you may find duplicated records or bits of information
                        that do not necessarily make sense.
                    </dd>
                    <dt>Your data may disappear</dt>
                    <dd>
                        <strong>Please</strong> do not spend time entering commentary on sources. <strong>Anything
                        you enter on this site is likely to be lost when the site goes live.</strong> You may test
                        and provide feedback on particular interactive features, like commenting or contributing corrections,
                        but this will likely be deleted at any time.
                    </dd>
                </dl>
            </p>

            <h3>Types of feedback requested</h3>
            <p>
                We are soliciting feedback on a number of features, to help tune our systems and provide an easy-to-use
                site for finding and viewing information on sources. To provide feedback, it is most helpful if you follow
                this template for sending it to us (you can use these as headings in your e-mail message if you like):
                <ul>
                    <li>What were you trying to do?</li>
                    <li>What did you expect would happen?</li>
                    <li>What actually happened?</li>
                </ul>

                The more detail you can provide, the better we will be able to address your concerns. Links to broken
                pages or to a page of poor search results can help us address your concerns.
            </p>
            <h4>Search queries</h4>
            <p>
                The search engine for the new DIAMM site has been completely re-written, and has been tuned to work with
                queries that make sense to scholars. Examples include queries for a manuscript by a colloquial name rather
                than a shelfmark (e.g., <a href="https://beta.diamm.ac.uk/search/?q=buxheimer">"buxheimer"</a>) or
                including a city name in the query (e.g., <a href="https://beta.diamm.ac.uk/search/?q=bologna+Q15">"bologna q15"</a>).
            </p>
            <p>
                However, we recognize that there are many other ways in which people expect to find things, and we would
                like to know about these. If you find a search query that produces a result that you do not expect, please
                notify us.
            </p>
            <h4>Image viewing</h4>
            <p>
                For those sources in DIAMM that include images, we are introducing a new image viewer based on
                <a href="https://ddmal.github.io/diva.js">Diva.js</a>. We would like feedback on whether you find this
                image viewer easy to use for navigating digital documents.
            </p>
            <h4>Navigation</h4>
            <p>
                One of the biggest features of this site is a navigation structure between different types of records. For
                example, clicking on an 'Archive' link for a source will bring you to a record for that archive, which
                will then display a list of links to all of the sources owned by that archive. We are interested in knowing
                whether the links between these records are useful, and if we are missing any obvious links that we
                may be able to display (NB: We may not capture certain types of information, or have determined that
                it is too labour intensive to record. If this is the case, we may not be able to provide that information.)
            </p>

            <h3>Types of feedback NOT requestd</h3>
            <p>
                There are a number of types of feedback we would ask that you not send us:
            </p>
            <dl>
                <dt>Requests to change colours / fonts / layout</dt>
                <dd>
                    Please do not request aesthetic changes <em>unless</em> we have done something to make the site
                    unusable for certain types of users (e.g., colour blindness), or we have done something to obscure
                    or make it difficult to find a particular piece of information.
                </dd>
                <dt>Requests to display images for a particular source</dt>
                <dd>
                    Our ability to display images on the DIAMM site is a process of negotiation with our library partners,
                    and this will not change with the move to the new site.
                </dd>
                <dt>Requests to update the data to fix errors</dt>
                <dd>
                    The ability suggest changes or updates to DIAMM records will be an important feature of
                    the new site; however, these changes are currently not being solicited through the beta site. You
                    may be asked to test the functionality of this feature, but this is no guarantee that these changes
                    will actually be accepted into the database.
                </dd>
                <dt>Anything in the Future Plans section (below)</dt>
                <dd>
                    At present we realize there are a number of really good features that are missing from the site. Before
                    sending feedback suggesting an improvement, please consult the "Future Plans" section below to
                    know what we're planning on adding over the next few months.
                </dd>
            </dl>

            <h3>Future Plans</h3>
            <p>
                Over the next few months we have several improvements planned that will be rolled out as we finish them up,
                and on which we may seek consultation and feedback. These features include:
            </p>
            <dl>
                <dt>Source Contributions and Attribution</dt>
                <dd>
                    We are working on a way for individuals to provide DIAMM staff with corrections, and to have these
                    contributions recognized and attributed to an individual as part of the public source record.
                </dd>
                <dt>Public and Private Notes</dt>
                <dd>
                    The ability to provide a public comment on a source, or to write a private note to yourself for
                    future use is one of the features that we hope to implement prior to launching the site.
                </dd>
                <dt>Better Browsing</dt>
                <dd>
                    In the works is a second entry point to the data in the database which will be especially useful
                    if you can't find the results you are looking for with search, or if you want to simply peruse
                    the entries for a given type of record. For example, if you want to browse the collection by a list of cities,
                    countries, or archives, you will be able to choose one of these entry points to find out more about
                    how it is related to other records in the database.
                </dd>
            </dl>

            <h4>Nice-to-haves and Maybes</h4>
            <p>
                There are some features that we're mulling over, and that we would appreciate feedback on. If you feel strongly
                about these features, please get in touch.
            </p>
            <dl>
                <dt>Multiple Authentication Sources</dt>
                <dd>
                    In addition to the regular DIAMM account, we are looking at providing authentication via well-known
                    authentication providers, such as Google or Facebook, giving our users the ability to log in to DIAMM
                    using their account credentials from these sources.
                </dd>
                <dt>Source Collections</dt>
                <dd>
                    This concerns the ability for a user to construct public or private sets of sources. This could be
                    for the purposes of a given project (e.g., writing a paper or for a class).
                </dd>
            </dl>

            <h3>The DIAMM API</h3>
            <p>Developers interested in working with the DIAMM data should read <a href="/technical">the introduction</a>
            to the API. If you intend to use this for developing new applications, please <a href="mailto:andrew.hankinson@music.ox.ac.uk">
            get in touch</a> prior to doing so.</p>
            </div>
    </div>
{% endblock %}
