{% extends "base.jinja2" %}


{% block head %}
    <link rel="stylesheet" href="{{ static('vendor/ideal-image-slider/ideal-image-slider.css') }}" />
    <link rel="stylesheet" href="{{ static('vendor/ideal-image-slider/iis-default-theme.css') }}" />
{% endblock %}

{% block fullwidth %}
    <div class="columns">
        <div class="column">
            <div class="content">
                <div class="search-overlay">
                    <div class="diamm-logo">
                        <img src="{{ static('images/headerLogo.png')}}" />
                    </div>
                    <div class="front-search">
                        <form action="{{ url('search') }}" method="get">
                            <input type="text" placeholder="Search" class="input" name="q" />
                        </form>
                    </div>
                </div>
                <div id="slider">
                    {% for block in page.carousel %}
                        {% include_block block %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="tile is-ancestor">
        <div class="tile is-half is-parent is-vertical">
            <div class="tile is-child diamm-description">
                <p class="title is-2">About Us</p>
                {% include_block page.brief_description %}
            </div>
            <div class="tile is-child">
                <p class="title">Publications</p>
                <p>Lorem ipsum stuf stuff etc.</p>
            </div>
        </div>
        <div class="tile is-parent is-vertical">
            <div class="tile is-child">
                <p class="title is-4">Latest News</p>
                {{ latest_news() }}
            </div>
            <div class="tile is-child">
                <p class="title is-4">Recent Additions</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper diam at erat pulvinar, at pulvinar felis blandit. Vestibulum volutpat tellus diam, consequat gravida libero rhoncus ut. Morbi maximus, leo sit amet vehicula eleifend, nunc dui porta orci, quis semper odio felis ut quam.</p>
            </div>
            <div class="tile is-child">
                <p class="title is-4">Recent Comments</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper diam at erat pulvinar, at pulvinar felis blandit. Vestibulum volutpat tellus diam, consequat gravida libero rhoncus ut. Morbi maximus, leo sit amet vehicula eleifend, nunc dui porta orci, quis semper odio felis ut quam.</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="application/javascript" src="{{ static('vendor/ideal-image-slider/ideal-image-slider.min.js') }}"></script>
    <script type="application/javascript" src="{{ static('vendor/ideal-image-slider/iis-captions.js') }}"></script>
    <script>
        var slider = new IdealImageSlider.Slider({
            selector: "#slider",
            height: 300,
            effect: 'fade',
            interval: 6000
        });
        slider.addCaptions();
        slider.start();
    </script>
{% endblock %}
