{% extends "base.jinja2" %}


{% block head %}
    <!-- <link rel="stylesheet" href="{{ static('vendor/ideal-image-slider/ideal-image-slider.css') }}" /> -->
    <link rel="stylesheet" href="{{ static('vendor/ideal-image-slider/iis-default-theme.css') }}" />

    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "name": "Digital Image Archive of Medieval Music",
      "alternateName": "DIAMM",
      "url": "https://www.diamm.ac.uk",
      "telephone": "+44 (0)1865 241323",
      "address": {
        "@type": "PostalAddress",
        "name": "Faculty of Music",
        "addressCountry": "UK",
        "addressLocality": "Oxford",
        "postalCode": "OX1 1DB",
        "streetAddress": "St. Aldates"
      },
      "email": "diamm@music.ox.ac.uk",
      "parentOrganization": [{
        "@type": "Organization",
        "name": "University of Oxford",
        "url": "http://www.ox.ac.uk"
      }]
    }
    </script>
{% endblock %}

{% block fullwidth %}
    <div class="columns">
        <div class="column">
            <div class="content">
                <div class="search-overlay">
                    <div class="diamm-logo">
                        <img src="{{ static('images/headerLogo.png')}}" />
                    </div>
                    <div class="front-search">
                        <form action="{{ url('search') }}" method="get">
                            <input type="text" placeholder="Search" class="input" name="q" />
                        </form>
                    </div>
                </div>
                <div id="slider">
                    {% for block in page.carousel %}
                        {% include_block block %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="columns diamm-front">
        <div class="column is-two-thirds">
            <div class="columns">
                <div class="column diamm-description">
                    {% include_block page.brief_description %}
                </div>
            </div>
            <div class="columns">
                <div class="column is-half">
                    <h3 class="title is-4">Latest News</h3>
                    {{ latest_news() }}
                </div>
                <div class="column is-half">
                    <h3 class="title is-4">DIAMM Publications</h3>
                    <div class="publications-intro">
                        {{ page.publications_intro | richtext }}
                    </div>
                    {{ publication_block() }}
                    <a href="/publications">More publications</a>
                </div>
            </div>
        </div>
        <div class="column is-one-third front-sidebar">
            <div class="front-sidebar-block">
                <h4 class="title is-4">DIAMM At a glance</h4>
                {{ statistics() }}
            </div>
            <div class="front-sidebar-block">
                <h4 class="title is-4">Recently Added Sources</h4>
                {{ recently_added_sources() }}
            </div>
            <div class="front-sidebar-block">
                <h4 class="title is-4">Recently Updated Sources</h4>
                {{ recently_updated_sources() }}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="application/javascript" src="{{ static('vendor/ideal-image-slider/ideal-image-slider.min.js') }}"></script>
    <script type="application/javascript" src="{{ static('vendor/ideal-image-slider/iis-captions.js') }}"></script>
    <script>
        var slider = new IdealImageSlider.Slider({
            selector: "#slider",
            height: 300,
            effect: 'fade',
            interval: 6000
        });
        slider.addCaptions();
        slider.start();
    </script>
{% endblock %}
